<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1><br><br>
    <script>
        alert("this is your reference id = ",{{RefID}})
    </script>

    
    
    <form action="/chechoutreference" method="post">
        <label for="search">Enter your reference ID</label><br><br>
        <input type="text" id="search" name="checkoutrerefenceid" placeholder="Search...">
        <button>Checkout</button>
    </form>
</body>
</html>